<?xml version="1.0"?>
<robot name="calibration_board">
  <!-- 链接定义 -->
  <link name="calibration_board_link">
    <!-- 惯性属性 -->
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0"/>
      <inertia ixx="0.1" ixy="0.0" ixz="0.0" iyy="0.1" iyz="0.0" izz="0.1"/>
    </inertial>
    <!-- 碰撞属性 -->
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.25 0.20 0.002"/>
      </geometry>
    </collision>
    <!-- 可视化属性：保留的mesh -->
    <visual>
      <origin xyz="0 0 0" rpy="0 0 3.141592653589793"/>
      <geometry>
        <mesh filename="package://duco_description/meshes/calibration_board/calibration_board.dae"/>
      </geometry>
    </visual>
  </link>
</robot>
